
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* line-height: 1.6; */
  min-height: 100vh;
  font-size: 1.6rem;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: blue;
}

#root {
  height: 100vh;
  width: 100vw;
}

ul {
  padding: 0;
  margin: 0;
}

.snackbar {
  font-size: 16px !important;
}
